<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryManagementSystem.Properties.Settings.StockConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>