<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktopApp.DAL.Properties.Settings.desktopappConnectionString"
            connectionString="Data Source=vsingh.biz;Initial Catalog=vikrant;User ID=tesrt4o;Password=Data Source=vsingh.biz;Initial Catalog=vikrant;User ID=tesrt4o;Password=frX6yHjv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>