<!DOCTYPE html>
<html>
<head>
    <title>Digin NIIT traiinig</title>
    <style>
    section 
    {

        
        
        }
     
     .wrap
     {
     float:left; 
     margin:10px;   
     }
	 .fontCl
	 {
	 font-family: arial;
	 }
	 
	 #video1
	 {
	   width: 330px;
	   height: 300px;
	   border: 3px solid #000000; 
	 }
	 
	 .roundbox1
	 {
	     background-color: #218eaf;
	   font-size:18px;
	   height: 40px;
	   width:300px;
	   border: 3px solid #000000; 
	   border-radius: 30px;
	   text-align:center;
	   line-height: 18px
	   
	     
	  }
        
    </style>
</head>
<body>

    
    <h1>Wrapping Text aroung image</h1>
    <h3>Introduction</h3>

    <section>
    <p>By: <a href="https://www.studentnewsdaily.com/archive/daily-news-article/"> Dinesh Singh</a></p>
    <p>Date</p>
    <p>Writer: Zack Reyan</p>
    <p>Rupblic cure</p>

    </section>
    
    


    
    <h3>Section 1</h3>

     <section>
     <p class="fontCl">The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607). The first Thanksgiving to God in Plymouth Colony was actually celebrated during the summer of 1623, when the colonists declared a Thanksgiving holiday after their crops were saved by much-needed rainfall. The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607). The first Thanksgiving to God in Plymouth Colony was actually celebrated during the summer of 1623, when the colonists declared a Thanksgiving holiday after their crops were saved by much-needed rainfall.
     <br />
     The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607). The first Thanksgiving to God in Plymouth Colony was actually celebrated during the summer of 1623, when the colonists declared a Thanksgiving holiday after their crops were saved by much-needed rainfall.
     </p>

     <div class="wrap">
     <div id="video1">
      <video width="320" height="240" controls>
        <source src="Wildlife.mp4" type="video/mp4">
        
        Your browser does not support the video tag.
    </video>
    <div class="roundbox1">
    <p > Join Dublin in 2016. Please Join again Please Join again</p>
    </div>
    
     </div>
     </div>

     <p>See the pic declared a Thanksgiving holiday after their crops were saved by much-needed rainfall.</p>
     </section>
    
     
     
    <h3>Section 2</h3>
     <p>The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607). The first Thanksgiving to God in Plymouth Colony was actually celebrated during the summer of 1623, when the colonists declared a Thanksgiving holiday after their crops were saved by much-needed rainfall.</p>
    <h3>Section 3</h3>
    
    <p>Each Daily News Article contains comprehension and critical thinking questions, found below the article. In addition, we provide “Background” and “Resources” (including video clips, maps and links) below the questions to give students a better understanding of the news story. Sign-up to receive a FREE daily email with answers to the questions.    </p>
   
    <p>The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607). The celebration we now popularly regard as the “First Thanksgiving” was the Pilgrims’ three-day feast celebrated in early November of 1621 (although a day of thanks in America was observed in Virginia at Cape Henry in 1607)</p>
   

</body>
</html>
