<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--<add name="conString" connectionString="UHJvdmlkZXI9TWljcm9zb2Z0LkFDRS5PTEVEQi4xMi4wO0RhdGEgU291cmNlPUQ6XE15IFByb2plY3RzXERpbmVzaCBEZW1vIFByb2plY3RcQ29sZFN0b3JhZ2VcQ29sZFN0b3JhZ2VcYmluXERlYnVnXENvbGRTdG9yYWdlRGF0YWJhc2UuYWNjZGI7SmV0IE9MRURCOkRhdGFiYXNlIFBhc3N3b3JkPTEyMzQ1Ngo=" />-->
    <add name="conString" connectionString="UHJvdmlkZXI9TWljcm9zb2Z0LkFDRS5PTEVEQi4xMi4wO0RhdGEgU291cmNlPUQ6XERpbmVzaCBQcm9qZWN0XERpbmVzaCBEZW1vIFByb2plY3RcQ29sZFN0b3JhZ2VcQ29sZFN0b3JhZ2VcYmluXERlYnVnXENvbGRTdG9yYWdlRGF0YWJhc2UuYWNjZGI7SmV0IE9MRURCOkRhdGFiYXNlIFBhc3N3b3JkPTEyMzQ1Ng==" />
  </connectionStrings>
  <appSettings>
    <add key="ReportPath" value="D:\Dinesh Project\Dinesh Demo Project\ColdStorage\ColdStorage\Reports\"/>
  </appSettings>  
</configuration>